.cc-button {
  border-radius: 5px;
  background-color: $color-primary;
  font-family: 'Poppins';
  font-weight: 'Light';
  font-size: 15px;
  color: white;
  transition: .2s all;
  border-style: none;

  &:hover {
    opacity: 0.6;
    transition: .2s all;
  }

  &:focus {
    color: white;
    background-color: $color-primary;
    transition: .2s all;
  }
}