.cc-input {
  width: 100%;
  border-radius: 5px;
  font-size: 15px;
  border: solid 1px rgba(0,0,0,.1) !important;
  box-shadow: none !important;
  color: rgba(0,0,0,.6);
  padding: 20px;
  outline: none !important;
  font-family: 'Poppins';
  font-weight: 'Light';
  box-shadow: none;
}